.scope {
  --border-radius: 5px;
  --color: #0050b3;
  --color-green: #237804;
  --color-bg: #fff;
  --color-bg-secondary: #bfbfbf;
  --color-secondary: #920de9;
  --color-text: #262626;
  --color-text-secondary: #999;
  --color-error: #cb2431;
  --hover-brightness: 1.2;
  --hover-opacity: 0.5;
  --line-height: 150%;
}

.cleanLink {
  text-decoration: none;
  color: #9f9f9f;
}

.table {
  font-family: 'Arimo', sans-serif;
  font-weight: 400 !important;
  font-size: 100%;
  color: #9f9f9f;
  width: 100%;
  padding: 10px;
  box-shadow: 0 0 5px #cccccc;
  background-color: #ffffff;
}

.table thead {
  color: #333333;
  font-weight: 700 !important;
  text-transform: uppercase;
}

.table tr {
  vertical-align: middle;
}

.table td {
  padding: 10px 5px;
}

.capitalize {
  text-transform: capitalize;
}

.algRight {
  text-align: right;
}

.tooltip {
  position: relative;
  display: inline-block;
  margin-left: 10px;
}

.tooltip .tooltiptext {
  min-width: 300px;
  visibility: hidden;
  background-color: black;
  color: #fff;
  padding: 5px 10px;
  border-radius: 6px;
  top: 20px;
  left: -35px;
  text-transform: capitalize;

  position: absolute;
  z-index: 1;
}

.tooltip .tooltiptext p {
  margin: 5px 0;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}
